body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin:0 auto;
  padding: 10px;
  padding-top:20px;
}

.title {
  background: #e3f4ff;
  margin:10px;
  padding:20px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin:10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 20px;
  margin:0 auto;
}

* {
  font-size: 16px;
}
